html, body {
   max-width: 100%;
   overflow-x: hidden;
   font-family: "Poppins", Arial, sans-serif;
   font-size: 14px;
}
a:link {
   text-decoration: none;
}
a:visited {
   text-decoration: none;
}
a:hover {
   text-decoration: underline;
}
a:active {
   color: #000;
   text-decoration: none;
}
/* Layout */ 
.navbar {
   background-color:lightgreen;
   color: rgb(17, 17, 17);
   border: 0em;
   margin-bottom: 0;
   border-radius: 0;
}
.navbar-brand {
   color: rgb(17, 17, 17) !important;
}
.row.content {
   height: 450px
}
.sidenav {
   padding-top: 20px;
   background-color: #f1f1f1;
   height: 100%;
}
@media screen and (max-width: 767px) {
   .sidenav {
      height: auto;
      padding: 15px;
   }
   .row.content {
      height:auto;
   } 
}

td {
   font-size: 14px;
}
