
.social-icons > a {
   padding: 4px 10px;
   color: rgb(15, 15, 15);
}
.social-icons > a i {
   font-size: 26px;
}
 .social-icons > a:hover, 
 .social-icons > a:focus, 
 .social-icons > a:active {
   text-decoration: none;
   color: rgb(122, 119, 119);
}
.footer {
   padding-top: 20px;
   padding-bottom: 30px;
}