html {
   scroll-behavior: smooth;
 }
 body {
   font: 12px Montserrat, sans-serif;
   line-height: 1.8;
   font-weight: normal;
   background: #fff !important;
   color: #4d4d4d;
 }
 .bg-img {
   background-image: url("../images/bg-image.jpg");
   min-height: 250px;
   background-repeat: no-repeat;
   background-position:center bottom;
   background-size: cover;
   object-fit: cover;
   display: flex;
   -webkit-box-align: center; 
   -ms-flex-align: center;
   align-items: center;
   margin-bottom: 20px;
}
.header {
   width: 100%;
   height: 100%;
   padding-top:30px;
   padding-bottom:30px;
}
.header h1 {
   padding-top:30px;
   padding-bottom:10px;
   text-shadow: 2px 2px #504d4d;
   color: rgb(255, 255, 255);
}
.header p {
   font-size: 17px;
   text-shadow: 1px 1px #504d4d;
   color: rgb(255, 255, 255);
}
.container {
   padding-bottom: 40px !important;
}

.container-fluid {
   padding-top: 10px;
   padding-bottom: 10px;
}
@media (max-width: 767.98px) {
   .header {
      padding-top:10px;
      padding-bottom:10px;
   }
   .header h1 {
      padding-top:10px;
      padding-bottom:10px;

   }
   .header p {
      font-size: 14px;
      text-shadow: 1px 1px #504d4d;
      color: rgb(255, 255, 255);
   }
}
.social-icons > a {
   padding: 4px 10px;
   color: rgb(15, 15, 15);
}
.social-icons > a i {
   font-size: 26px;
}
 .social-icons > a:hover, 
 .social-icons > a:focus, 
 .social-icons > a:active {
   text-decoration: none;
   color: rgb(122, 119, 119);
}
.footer {
   padding: 30px 0 20px;
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   text-align: center;
}