/**********************

Style.css
=============

Author:  Gino Aliaj
Template: Swimmerland - Water Park HTML Template
Version: 1.0

Author URI: gnodesign.com
***************************/

/* https://gnodesign.com/templates/swimmerland/#0 */

/* --------------------------------------
    1. Default Typography
-------------------------------------- */

*,
body {
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin: 0 !important;
    color: #323232;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 38px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 18px;
}

p {
    font-size: 14px;
    line-height: 24px;
    color: #666;
}


/* --------------------------------------
    2. General Styles
-------------------------------------- */

body {
    background: #f6f8f8;
}

a {
    color: #3cbeee;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

a:hover {
    color: #3cbeee;
}

a:hover,
a:focus,
a:visited {
    text-decoration: none !important;
    outline: none !important
}

input {
    outline: none !important;
}

button {
    outline: none !important;
}

.main-content {
    padding: 80px 0;
}

.pad80 {
    padding: 80px 0 0 0;
}

.pad70 {
    padding: 70px 0 0 0;
}

.pad40 {
    padding: 40px 0 0 0;
}

.section-title {
    text-align: center;
    margin: 0 !important;
    text-transform: uppercase;
}

.section-title:after {
    content: url(../images/components/wave-blue.svg);
    display: block;
    width: 70px;
    margin: 0 auto;
    padding: 0px 0 20px 0;
    text-transform: uppercase;
}

.section-descr {
    text-align: center;
    margin: 0;
}

img {
    -moz-user-select: none;
    /* These user-select properties are inheritable, used to prevent text selection */
    -webkit-user-select: none;
    -ms-user-select: none;
    /* From IE10 only */
    -webkit-user-drag: none;
    /* Prevents dragging of images/divs etc */
    user-drag: none;
}


/* --------------------------------------
    3. Buttons
-------------------------------------- */

.btn {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    padding: 10px 25px;
    position: relative;
    background: #3cbeee;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    border-radius: 25px;
    color: #fefefe;
    box-shadow: 5.5px 9px 15px 0px rgba(0, 0, 0, 0.2);
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    -ms-transition: all .8s ease;
    -o-transition: all .8s ease;
    transition: all .8s ease;
}

.btn:focus,
.btn:hover {
    color: #fefefe;
    box-shadow: none;
}

.btn-border {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 25px;
    position: relative;
    border: 2px solid #3cbeee;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    border-radius: 25px;
    color: #999;
}

.btn-border.active {
    background: #3cbeee;
    color: #f6f8f8;
}


/* --------------------------------------
    4. Header 
-------------------------------------- */

header {
    position: absolute;
    width: 100%;
    z-index: 999;
    -webkit-transition: .6s all ease;
    -moz-transition: .6s all ease;
    -ms-transition: .6s all ease;
    -o-transition: .6s all ease;
    transition: .6s all ease;
}



/* --------------------------------------
    7. Pages
-------------------------------------- */

#pages.main {
    z-index: 0;
}

#pages.main .page-title {
    height: 350px;
}

#pages.main .page-title h2 {
    color: #f6f8f8;
    z-index: 4;
    font-size: 50px;
    text-transform: uppercase;
    position: absolute;
    top: 60%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}


/**************** 7.1 About Page ****************/

section#about .section-title {
    text-align: left;
}

section#about .section-title:after {
    margin: 0;
}

section#about p {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 20px;
}

section#about .about-vid {
    height: 450px;
}

section#about .about-vid .vid-container {
    background: #2e2e2e;
    width: 85%;
    height: 100%;
    position: relative;
    border-radius: 30px;
    box-shadow: 5.5px 9px 15px 0px rgba(0, 0, 0, 0.2);
}

section#about .about-vid .vid-container .popup-video:after {
    content: '\f144';
    font-family: 'fontawesome';
    display: block;
    color: #f6f8f8;
    font-size: 70px;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: .5;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}

section#about .about-vid:hover .vid-container .popup-video:after {
    font-size: 80px;
    opacity: .9;
}

section#about .about-vid .vid-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}

section#about ul.check-list {
    font-size: 18px;
    color: #666;
    padding: 0;
    margin: 25px 0;
    list-style: none;
}

section#about ul.check-list li {
    padding-bottom: 20px;
}

section#about ul.check-list li:last-child {
    padding-bottom: 0;
}

section#about ul.check-list li:before {
    content: '\f00c';
    font-family: 'fontawesome';
    font-size: 18px;
    color: #74cc6c;
    padding-right: 10px;
}


/* --------------------------------------
    5. Home Page
-------------------------------------- */

/**************** 5.1 Main Section - Slider ****************/

section.main {
    position: relative;
}


/* ---- Slider ---- */

.fullscreen {
    top: 0;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.swiper-slide-active {
    z-index: 100;
}

.swiper-slide {
    overflow: hidden;
}

.overlay:before {
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    display: block;
    content: '';
    overflow: hidden;
    z-index: 2;
    position: absolute;
    top: 0;
    opacity: .9;
}

.overlay:after {
    background: -moz-linear-gradient(left, #3cbeee -40%, #003042 140%);
    background: -webkit-linear-gradient(left, #3cbeee -40%, #003042 140%);
    background: linear-gradient(to right, #3cbeee -40%, #003042 140%);
    width: 100%;
    height: 100%;
    display: block;
    content: '';
    overflow: hidden;
    z-index: 3;
    position: absolute;
    top: 0;
    opacity: .3;
}

.slider-content {
    position: relative;
    top: 35%;
    z-index: 15;
    text-align: center;
}

.slider-content h3 {
    color: #fefefe;
    font-weight: 400;
}

.slider-content h3 span {
    font-size: 72px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

.slider-content h3:after {
    content: url('../images/components/wave-blue.svg');
    display: block;
    width: 70px;
    margin: 0 auto;
    padding: 5px 0 20px 0;
}

.slider-content h4 {
    color: #fefefe;
    font-weight: 400;
}

.slider-content h4 span {
    color: #ff9900;
    font-family: inherit;
}

.slider-content .cta {
    margin-top: 40px;
}

.slider-content .cta .btn:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}


/* ---- Video Background ---- */

video.video-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: url(../video/video.jpg) no-repeat;
    background-size: cover;
    -webkit-transition: all 1s opacity;
    -moz-transition: all 1s opacity;
    -ms-transition: all 1s opacity;
    -o-transition: all 1s opacity;
    transition: all 1s opacity;
}

.video-bg::-webkit-media-controls-start-playback-button {
    display: none !important;
    -webkit-appearance: none;
}


/* ---- Paginition ---- */

.swiper-pagination {
    top: 50%;
    -webkit-transform: rotate(90deg) translateX(-50%);
    -moz-transform: rotate(90deg) translateX(-50%);
    -ms-transform: rotate(90deg) translateX(-50%);
    -o-transform: rotate(90deg) translateX(-50%);
    transform: rotate(90deg) translateX(-50%);
    width: auto !important;
    height: 20px;
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    border: 2px solid #fefefe;
    background: none;
    opacity: 0.6;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.swiper-pagination-bullet-active {
    border: none;
    background: #fefefe;
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}


/**************** 5.3 Gallery Section ****************/
section#gallery {
    background: #ededed;
}

ul.gallery-sorting {
    display: table;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 3px;
}

ul.gallery-sorting li {
    display: inline-block;
    padding: 10px 10px;
    margin: 3px;
}

ul#grid.gallery-items {
    margin: 50px 0 0 0;
}

ul#grid.gallery-items li.shuffle-item {
    padding: 0;
}

ul#grid.gallery-items li.shuffle-item img {
    object-fit: cover;
    min-height: 250px;
    opacity: .7;
    -webkit-transition: all 1.2s ease;
    -moz-transition: all 1.2s ease;
    -ms-transition: all 1.2s ease;
    -o-transition: all 1.2s ease;
    transition: all 1.2s ease;
}

/* CSS Fallback from Modernizr */

ul#grid.gallery-items li.shuffle-item.compat-object-fit img {
    background-size: cover;
    background-position: center;
}

figure.gallery-item {
    max-height: 250px;
    overflow: hidden;
}

ul#grid.gallery-items li.shuffle-item:hover img {
    opacity: 1;
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
}

ul#grid.gallery-items li.shuffle-item a:before {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    background: rgba(60, 190, 238, 0.3);
    position: absolute;
    z-index: 1;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    opacity: 0;
}

ul#grid.gallery-items li.shuffle-item:hover a:before {
    opacity: 1;
}

ul#grid.gallery-items li.shuffle-item a:after {
    content: '\f00e';
    font-family: 'fontawesome';
    font-size: 30px;
    color: #f6f8f8;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 5;
    display: block;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    opacity: 0;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

ul#grid.gallery-items li.shuffle-item:hover a:after {
    opacity: .8;
    font-size: 38px;
}


/**************** 5.9 Signup Section ****************/

section#signup {
    background-color: #3cbeee;
    padding: 60px 0;
    margin-top: 20px;
    margin-bottom: 20px;

}

section#signup::before {
    background: url(../images/components/separator.png) no-repeat;
}

section#signup h3 {
    font-weight: 100;
    text-align: left;
    color: #a6ecff;
}

section#signup h3 strong {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #f6f8f8;
}

section#signup .section-title:after {
    content: url(../images/components/);
    display: block;
    width: 70px;
    margin: 0;
    padding: 0;
}

section#signup .col-md-4 {
    text-align: center;
}

section#signup .btn {
    color: #3cbeee;
    background: #f6f8f8;
    padding: 10px 35px;
    margin-top: 25px;
}


/**************** 5.6 Deals Section ****************/

section#deals {
    background: #ededed;
    margin-top: -40px;
}

article.deals-post {
    background: #f6f8f8;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 5.5px 9px 15px 0px rgba(0, 0, 0, 0.2);
    margin-bottom: 80px;
}

article.deals-post .deals-thumbnail {
    padding: 0;
    background: #3cbeee;
    overflow: hidden;
}

article.deals-post .deals-thumbnail a:after {
    content: '\f0c1';
    font-family: 'fontawesome';
    color: #f6f8f8;
    font-size: 32px;
    position: absolute;
    top: 50%;
    left: -20%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    -webkit-transition: all .7s ease;
    -moz-transition: all .7s ease;
    -ms-transition: all .7s ease;
    -o-transition: all .7s ease;
    transition: all .7s ease;
}

article.deals-post .deals-thumbnail:hover a:after {
    left: 50%;
    opacity: 1;
}

.deals-thumbnail img {
    max-height: 300px;
    object-fit: cover;
    height: 260px;
    width: 100%;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

article.deals-post .deals-thumbnail:hover img {
    transform: scale(1.2);
    opacity: .5;
}

article.deals-post .date {
    background: #3cbeee;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    color: #f6f8f8;
    text-align: center;
    padding: 10px 15px;
    line-height: 1;
    border-radius: 0 0 0 20px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

article.deals-post .deals-thumbnail:hover .date {
    opacity: 0;
}

.deals-post .date span.day,
.deals-post .date span.publish-month {
    font-family: 'Montserrat', sans-serif;
}

.deals-post .date span.day {
    display: block;
    font-size: 24px;
    font-weight: 700;
}

.deals-post .date span.publish-month {
    font-size: 14px;
    text-transform: uppercase;
}

.deals-post .deals-desc {
    padding: 0 0 0 50px;
    color: #999;
}

.deals-post .deals-desc h4 a {
    color: #323232;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    cursor: pointer;
}

.deals-post .deals-desc h4 a:hover {
    color: #3cbeee;
}

.post-detail {
    padding: 10px 0 30px 0;
    color: #999;
}

.post-detail span:after {
    content: '|';
    padding: 0 7px;
}

.post-detail span:last-child:after {
    display: none;
}

.post-detail span i {
    padding-right: 5px;
}

.deals-post .deals-desc a.btn {
    margin-top: 30px;
}

section#deals .text-center {
    margin: 0 0 90px 0;
}


/**************** 5.10 Latest Event Section ****************/

/* calendar */

.calendar-container {
    height: auto;
    width: 100%;
}

.calendar header {
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

.calendar .btn-prev,
.calendar .btn-next {
    top: 0;
    line-height: 28px;
    font-size: 24px;
    position: absolute;
    color: #323232;
    cursor: pointer;
}

.calendar .btn-prev:hover,
.calendar .btn-next:hover {
    color: #3cbeee;
}

.calendar .btn-prev {
    left: 2px;
}

.calendar .btn-next {
    right: 5px;
}

.calendar table {
    width: 100%;
    margin-top: 40px;
}

.calendar thead {
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

.calendar tbody {
    color: #999;
}

.calendar td {
    padding: 15px 5px;
    font-size: 18px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.calendar tbody td:hover {
    cursor: pointer;
    color: #3cbeee;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.calendar .current-day {
    color: #f6f8f8;
    position: relative;
}

.calendar .current-day:hover {
    color: #f6f8f8;
}

td.current-day:after {
    content: '';
    display: block;
    width: 32px !important;
    height: 32px !important;
    background: #3cbeee;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) !important;
    -moz-transform: translate(-50%, -50%) !important;
    -ms-transform: translate(-50%, -50%) !important;
    -o-transform: translate(-50%, -50%) !important;
    transform: translate(-50%, -50%) !important;
    border-radius: 50%;
    z-index: -1;
}

.calendar .event {
    cursor: pointer;
    position: relative;
}

td.event.active {
    color: #3cbeee;
}

.calendar .event:after {
    content: '';
    display: block;
    background: #3cbeee;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}


/* event */
section#events .list {
    background: #ededed;
    border-radius: 30px;
    box-shadow: 5.5px 9px 15px 0px rgba(0, 0, 0, 0.2);
    margin: 0 25px;
}

section#events .day-event {
    display: none;
}

section#events .day-event.active {
    display: block;
    opacity: 1;
}

section#events .event-img {
    width: 100%;
    height: 250px;
    overflow: hidden;
    border-radius: 30px 30px 0 0;
}

section#events .event-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

section#events .event-details {
    padding: 30px 30px 0 30px;
    text-align: center;
}

section#events .event-details h4 {
    text-transform: uppercase;
}

section#events .event-details .date {
    font-size: 18px;
}

section#events .event-details p.date {
    padding: 10px 0;
}

section#events .event-details .date,
section#events .event-details p {
    color: #999;
}

section#events .event-details .btn {
    margin: 30px 0;
}


/**************** 5.11 Partners Section ****************/

section#partners {
    background: #f6f8f8;
    margin-top: 0px;
}

#partners .companies {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#partners .owl-item {
    min-height: 30px;
}

#partners img {
    width: 130px;
    -webkit-transition: all .9s ease;
    -moz-transition: all .9s ease;
    -ms-transition: all .9s ease;
    -o-transition: all .9s ease;
    transition: all .9s ease;
    margin: 0 auto;
    display: block;
}

#partners img:hover {
    opacity: 0.5;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}


/* --------------------------------------
    6. FOOTER
-------------------------------------- */

footer#main-footer {
    background: url(../images/components/footer-bg.png) no-repeat #267d9d;
    background-position: bottom center;
    background-size: cover;
    color: #f6f8f8;
    position: relative;
    margin-top: 30px;
}

footer#main-footer:before {
    content: '';
    background: url(../images/components/wave-top-footer.svg) no-repeat;
    background-position: bottom;
    background-size: cover;
    display: block;
    position: absolute;
    left: 0;
    top: -47px;
    width: 100%;
    height: 50px;
}


/* footer top */

footer .footer-top {
    padding: 80px 0 50px 0;
}

footer .footer-top ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer .footer-top ul li {
    padding-bottom: 10px;
}

footer .footer-top ul li:last-child {
    padding: 0;
}

footer .footer-top h4 {
    color: #f6f8f8;
    padding-bottom: 30px;
    text-transform: uppercase;
}

footer .footer-top p {
    color: #f6f8f8;
}

footer .footer-top .about p {
    padding-bottom: 30px;
    margin: 0;
}

footer .footer-top .about i {
    padding-right: 20px;
}

footer .footer-top .footer-links li a {
    text-transform: capitalize;
    color: #f6f8f8;
}

footer .footer-top .footer-links li a:hover {
    color: #3cbeee;
}

footer .footer-top .footer-social i {
    padding-right: 20px;
}


/* copyright */

footer .copyright {
    padding: 30px 0;
    border-top: 1px solid #669aaf;
}

footer .copyright p {
    margin: 0;
    color: #f6f8f8;
}

/* MAIN TAB */
/* Style the tab */
.main-tab {
    overflow: hidden;
    text-align: center;
    padding: 5px 5px;
    width: 100%;
}

.tab-links {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 25px;
    margin: 3px;
    position: relative;
    border: 2px solid #3cbeee;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    border-radius: 25px;
    color: #999;
}

.tab-links.active {
    background: #3cbeee;
    color: #f6f8f8 !important;
}

.tab-links.active:hover {
    background: #3cbeee !important;
    color: #f6f8f8 !important;
}

.tab-links:hover {
    color: #3cbeee !important;
    -webkit-transition: 0.3s ease-in;
    -moz-transition: 0.3s ease-in;
    -ms-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
}

.tab-content {
    margin-top: 5px;
    display: none;
    border-top: none;
    bottom: 0;
}

.tab-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    display: flex;
    overflow: hidden;
    min-width: 300px;
    max-width: 300px;
    min-height: 270px;
    max-height: 270px;
    padding: 0px;
    border-radius: 15px;
    box-sizing: border-box;
    color: #f6f8f8;
    margin: 15px;
    box-shadow: 5.5px 9px 15px 0px rgba(0, 0, 0, 0.2);
}

.card-item {
    position: relative;
    width: 100%;
    padding: 10px;
    margin-top: 150px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.85), transparent);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #f6f8f8;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .25), 2px 2px 1px rgba(0, 0, 0, .25) !important;
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -ms-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
}

.card-item.clicked {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.35));
    margin-top: 0px !important;
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -ms-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
}

.card-title {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1.2px;
    color: #f6f8f8;
}

.card-text {
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 1.5;
    color: #f6f8f8;
}

.card-more {
    opacity: 0;
    transition: ease-in 0.3s ease-in;
    pointer-events: none;
}

.card-more.clicked {
    opacity: 1;
    transition: ease-in 0.3s ease-in;
    pointer-events: all;
}

.card-btn {
    all: unset;
    display: inline-block;
    margin-top: auto;
    margin-right: 10px;
    border: 2px solid #f6f8f8;
    padding: 10px 15px;
    border-radius: 25px;
    font-size: 10px;
    font-weight: 600;
    transition: all 0.5s;
    cursor: pointer;
    letter-spacing: 1.2px;
    float: right;
}

.card-btn a {
    color: #f6f8f8;
}

.card-btn:hover {
    color: #f6f8f8;
    background: #3cbeee;
    border: 0px solid #3cbeee;
}

.card-solid-btn {
    all: unset;
    display: inline-block;
    margin-top: auto;
    margin-right: 10px;
    color: #f6f8f8;
    background: #3cbeee;
    border: 0px solid #3cbeee;
    padding: 10px 15px;
    border-radius: 25px;
    font-size: 10px;
    font-weight: 600;
    transition: all 0.5s;
    cursor: pointer;
    letter-spacing: 1.2px;
    float: right;
}

.card-solid-btn a {
    color: #f6f8f8;
    padding: 10px 10px;
}

.card-solid-btn:hover {
    color: #f6f8f8;
    background: #3cbeee;
    border: 0px solid #3cbeee;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

/* --------------------------------------
    8. deals
-------------------------------------- */


/**************** 8.1 deals Listing ****************/

article.deals-listing {
    display: none;
}

a#loadMore:focus {
    color: #999;
}

/* PopUp */
.map-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.map-modal.open {
    display: block;
}

.map-modal-content {
    background-color: #fff;
    border-radius: 30px;
    height: 70%;
    width: 90%;
    margin: 5% auto;
    padding: 5px;
    border: 1px solid #888;
    max-width: 600px;
}

.map-container {
    width: 100%;
    height: 100%;
    background-color: transparent;
    overflow: hidden;
}

#my-iframe {
    border-radius: 30px;
    height: 100%;
    width: 100%;
}