body {
  font-family: "Poppins", Arial, sans-serif;
  background: #f8faff !important;
  font-size: 14px;
  line-height: 1.8;
  font-weight: 300;
  color: #4d4d4d;
}
a {
  color: #fff;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
a:hover {
  text-decoration: none !important;
  color: #fff !important;
}

p, ul, ol {
  margin-bottom: 1.5em;
  font-size: 16px;
  color: #848484;
  font-family: Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #5a5a5a;
  font-family: Arial, sans-serif;
  font-weight: 400;
  margin: 0 0 30px 0;
}
figure {
  margin-bottom: 2em;
}

::-webkit-selection {
  color: #fcfcfc;
  background: #264E86;
}

::-moz-selection {
  color: #fcfcfc;
  background: #264E86;
}

::selection {
  color: #fcfcfc;
  background: #264E86;
}
.cover,
.hero {
  position: relative;
  height: 800px;
}
@media screen and (max-width: 768px) {
  .cover,
  .hero {
    height: 700px;
  }
}
.cover.hero-2,
.hero.hero-2 {
  height: 600px;
}
.cover {
  background-size: cover;
  position: relative;
}
@media screen and (max-width: 768px) {
  .cover {
    height: inherit;
    padding: 3em 0;
  }
}
.cover .btn {
  padding: 1em 3em;
  opacity: .9;
  border: 0px;
  background: #83CC61 !important;
}
.cover.cover_2 {
  height: 600px;
}
@media screen and (max-width: 768px) {
  .cover.cover_2 {
    height: inherit;
    padding: 3em 0;
  }
}
.cover .desc {
  top: 50%;
  position: absolute;
  width: 100%;
  margin-top: -80px;
  z-index: 2;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .cover .desc {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.cover .desc h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 60px;
  margin-bottom: 30px;
  font-weight: 300 !important;
}
.cover .desc h2 strong {
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  .cover .desc h2 {
    font-size: 40px;
  }
}
.cover .desc span {
  display: block;
  margin-bottom: 30px;
  font-size: 28px;
  letter-spacing: 1px;
}
.cover .desc span a {
  color: #fff;
}
.cover .desc span a:hover, .cover .desc span a:focus {
  color: #fff !important;
}
.cover .desc span a:hover.btn, .cover .desc span a:focus.btn {
  border: 2px solid #fff !important;
  background: transparent !important;
}
.cover .desc span a.site-name {
  padding-bottom: 2px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}
.section {
  padding: 5em 0;
}
@media screen and (max-width: 768px) {
  .section {
    padding: 3em 0;
  }
}

.item-contents {
  padding: 10px; 
  text-align: center; 
  background-color: white;
}
.item-content-icon {
  line-height: 1.2; 
  color: #000;
  position: relative;
}
.item-contents i {
  font-size: 80px; 
  color: #f85959; 
  margin-top: 50px; 
  margin-bottom: 20px;
}
.item-desc {
  line-height: 1.5;
  color: #000000;
  font-weight: 400;
}
.item-desc h3{
  line-height: 1.5;
  color: #000000;
  font-weight: 400;
}
.item-desc p {
  line-height: 1.5;
  color: #646161;
  font-size: 14px;
}


.listing {
  float: left;
  position: relative;
  width: 100%;
  margin-top: -5em;
  padding-bottom: 5em;
}
.listing .item-wrap {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
  position: relative;
}
.listing .item-wrap .listing-item {
  background: #fff;
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}
.listing .item-wrap .listing-item:after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 12;
  transition: 0.3s;
}

.news ul {
  padding: 0;
  margin: 0;
}
.news ul li {
  padding: 0;
  margin: 0;
  list-style: none;
}
.news ul li a {
  display: block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 20px;
}
.news ul li a .date {
  font-family: Arial, sans-serif;
  color: rgba(0, 0, 0, 0.75);
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: .08em;
  display: block;
  margin-bottom: 10px;
}
.news ul li a h3 {
  margin-bottom: 10px;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.75);
}
.news ul li a:hover {
  background: #ebebeb;
  padding-left: 30px;
}
.social-icons > a {
  padding: 4px 10px;
  color: #fff;
}
.social-icons > a i {
  font-size: 26px;
}
.social-icons > a:hover, 
.social-icons > a:focus, 
.social-icons > a:active {
  text-decoration: none;
  color: #fff;
}
#footer {
  float: left;
  width: 100%;
  clear: both;
  background: #222831;
  padding: 60px 0 40px;
}
#footer p {
  font-size: 16px;
  color: #fff;
}
#footer p a {
  color: #fff;
}
#footer p a:hover, #footer p a:active, #footer p a:focus {
  color: rgb(167, 157, 157) !important;
}
.js .animate-box {
  opacity: 0;
}
.mb20 {
  margin-bottom: 20px;
}
@media screen and (max-width: 480px) {
  .col-xxs-12 {
    float: none;
    width: 100%;
  }
}

.lead {
  line-height: 1.8;
}
.no-js #loader {
  display: none;
}
.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
}
.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../images/hourglass.svg) center no-repeat #222222;
}

/*# sourceMappingURL=style.css.map */
