/**********************

Style.css
=============

Author:  Gino Aliaj
Template: Swimmerland - Water Park HTML Template
Version: 1.0

Author URI: gnodesign.com
***************************/

/* https://gnodesign.com/templates/swimmerland/#0 */
/*------------------------------------------------------------------
[Table of contents]

1.  Default Typography
2.  General Styles
3.  Buttons
4.  Header
5.  Home Page
    5.1 Main Section - Slider
    5.2 About Us Section
    5.3 Gallery Section
    5.4 Training Courses Section
    5.6 Blog Section
    5.10 Latest Event Section
    5.11 Partners Section
6. Footer
7. Pages
    7.1 About Page
    7.2 404 Page
    7.3 Coming Soon Page
8. Blog
    8.1 Blog Listing
    8.2 Blog Detail
9. Contact Us
-------------------------------------------------------------------*/


/* --------------------------------------
    1. Default Typography
-------------------------------------- */

*,
body {
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin: 0 !important;
    color: #323232;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 38px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 18px;
}

p {
    font-size: 14px;
    line-height: 24px;
    color: #666;
}


/* --------------------------------------
    2. General Styles
-------------------------------------- */

body {
    background: #f6f8f8;
}

a {
    color: #3cbeee;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

a:hover {
    color: #3cbeee;
}

a:hover,
a:focus,
a:visited {
    text-decoration: none !important;
    outline: none !important
}

input {
    outline: none !important;
}

button {
    outline: none !important;
}

.main-content {
    padding: 80px 0;
}

.pad80 {
    padding: 80px 0 0 0;
}

.pad70 {
    padding: 70px 0 0 0;
}

.pad40 {
    padding: 40px 0 0 0;
}

.section-title {
    text-align: center;
    margin: 0 !important;
    text-transform: uppercase;
}

.section-title:after {
    content: url(../images/components/wave-blue.svg);
    display: block;
    width: 70px;
    margin: 0 auto;
    padding: 0px 0 20px 0;
    text-transform: uppercase;
}

.section-descr {
    text-align: center;
    margin: 0;
}

img {
    -moz-user-select: none;
    /* These user-select properties are inheritable, used to prevent text selection */
    -webkit-user-select: none;
    -ms-user-select: none;
    /* From IE10 only */
    -webkit-user-drag: none;
    /* Prevents dragging of images/divs etc */
    user-drag: none;
}


/* --------------------------------------
    3. Buttons
-------------------------------------- */

.btn {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    padding: 10px 25px;
    position: relative;
    background: #3cbeee;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    border-radius: 25px;
    color: #fefefe;
    box-shadow: 5.5px 9px 15px 0px rgba(0, 0, 0, 0.2);
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    -ms-transition: all .8s ease;
    -o-transition: all .8s ease;
    transition: all .8s ease;
}

.btn:focus,
.btn:hover {
    color: #fefefe;
    box-shadow: none;
}

.btn-border {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 25px;
    position: relative;
    border: 2px solid #3cbeee;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    border-radius: 25px;
    color: #999;
}

.btn-border.active {
    background: #3cbeee;
    color: #f6f8f8;
}


/* --------------------------------------
    4. Header 
-------------------------------------- */

header {
    position: absolute;
    width: 100%;
    z-index: 999;
    -webkit-transition: .6s all ease;
    -moz-transition: .6s all ease;
    -ms-transition: .6s all ease;
    -o-transition: .6s all ease;
    transition: .6s all ease;
}

/* --------------------------------------
    5. Home Page
-------------------------------------- */


/**************** 5.1 Main Section - Slider ****************/

section.main {
    position: relative;
}


/* ---- Slider ---- */

.fullscreen {
    top: 0;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.swiper-slide-active {
    z-index: 100;
}

.swiper-slide {
    overflow: hidden;
}

.overlay:before {
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    display: block;
    content: '';
    overflow: hidden;
    z-index: 2;
    position: absolute;
    top: 0;
    opacity: .9;
}

.overlay:after {
    background: -moz-linear-gradient(left, #3cbeee -40%, #003042 140%);
    background: -webkit-linear-gradient(left, #3cbeee -40%, #003042 140%);
    background: linear-gradient(to right, #3cbeee -40%, #003042 140%);
    width: 100%;
    height: 100%;
    display: block;
    content: '';
    overflow: hidden;
    z-index: 3;
    position: absolute;
    top: 0;
    opacity: .3;
}

.slider-content {
    position: relative;
    top: 35%;
    z-index: 15;
    text-align: center;
}

.slider-content h3 {
    color: #fefefe;
    font-weight: 400;
}

.slider-content h3 span {
    font-size: 72px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

.slider-content h3:after {
    content: url('../images/components/wave-blue.svg');
    display: block;
    width: 70px;
    margin: 0 auto;
    padding: 5px 0 20px 0;
}

.slider-content h4 {
    color: #fefefe;
    font-weight: 400;
}

.slider-content h4 span {
    color: #ff9900;
    font-family: inherit;
}

.slider-content .cta {
    margin-top: 40px;
}

.slider-content .cta .btn:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}


/* ---- Video Background ---- */

video.video-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: url(../video/video.jpg) no-repeat;
    background-size: cover;
    -webkit-transition: all 1s opacity;
    -moz-transition: all 1s opacity;
    -ms-transition: all 1s opacity;
    -o-transition: all 1s opacity;
    transition: all 1s opacity;
}

.video-bg::-webkit-media-controls-start-playback-button {
    display: none !important;
    -webkit-appearance: none;
}


/* ---- Paginition ---- */

.swiper-pagination {
    top: 50%;
    -webkit-transform: rotate(90deg) translateX(-50%);
    -moz-transform: rotate(90deg) translateX(-50%);
    -ms-transform: rotate(90deg) translateX(-50%);
    -o-transform: rotate(90deg) translateX(-50%);
    transform: rotate(90deg) translateX(-50%);
    width: auto !important;
    height: 20px;
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    border: 2px solid #fefefe;
    background: none;
    opacity: 0.6;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.swiper-pagination-bullet-active {
    border: none;
    background: #fefefe;
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}


/* ---- Scroll Down ---- */

.scroll-down {
    position: absolute;
    bottom: 0;
    z-index: 20;
    width: 100%;
    text-align: center;
}

.scroll-down:before {
    content: url('../images/components/scroll-shape.svg');
    width: 100px;
    height: 49px;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: -1;
}

.scroll-down a {
    font-size: 30px;
    cursor: pointer;
    color: #323232;
}

.scroll-down a:hover {
    color: #3cbeee;
    font-size: 34px;
}


/* Demos */

#index-image.fullscreen {
    background: url(../images/img/slider-bg.jpg) no-repeat;
    background-size: cover;
}

/**************** 5.3 Gallery Section ****************/
section#gallery {
    background: #ededed;
}

ul.gallery-sorting {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

ul.gallery-sorting li {
    display: inline-block;
    padding: 15px 10px;
}

ul#grid.gallery-items {
    margin: 50px 0 0 0;
}

ul#grid.gallery-items li.shuffle-item {
    padding: 0;
}

ul#grid.gallery-items li.shuffle-item img {
    object-fit: cover;
    min-height: 250px;
    opacity: .7;
    -webkit-transition: all 1.2s ease;
    -moz-transition: all 1.2s ease;
    -ms-transition: all 1.2s ease;
    -o-transition: all 1.2s ease;
    transition: all 1.2s ease;
}

/* CSS Fallback from Modernizr */

ul#grid.gallery-items li.shuffle-item.compat-object-fit img {
    background-size: cover;
    background-position: center;
}

figure.gallery-item {
    max-height: 250px;
    overflow: hidden;
}

ul#grid.gallery-items li.shuffle-item:hover img {
    opacity: 1;
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
}

ul#grid.gallery-items li.shuffle-item a:before {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    background: rgba(60, 190, 238, 0.3);
    position: absolute;
    z-index: 1;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    opacity: 0;
}

ul#grid.gallery-items li.shuffle-item:hover a:before {
    opacity: 1;
}

ul#grid.gallery-items li.shuffle-item a:after {
    content: '\f00e';
    font-family: 'fontawesome';
    font-size: 30px;
    color: #f6f8f8;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 5;
    display: block;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    opacity: 0;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

ul#grid.gallery-items li.shuffle-item:hover a:after {
    opacity: .8;
    font-size: 38px;
}



/**************** 5.6 Blog Section ****************/

section#blog {
    background: #ededed;
    margin-top: -40px;
}

article.blog-post {
    background: #f6f8f8;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 5.5px 9px 15px 0px rgba(0, 0, 0, 0.2);
    margin-bottom: 80px;
}

article.blog-post .blog-thumbnail {
    padding: 0;
    background: #3cbeee;
    overflow: hidden;
}

article.blog-post .blog-thumbnail a:after {
    content: '\f0c1';
    font-family: 'fontawesome';
    color: #f6f8f8;
    font-size: 32px;
    position: absolute;
    top: 50%;
    left: -20%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    -webkit-transition: all .7s ease;
    -moz-transition: all .7s ease;
    -ms-transition: all .7s ease;
    -o-transition: all .7s ease;
    transition: all .7s ease;
}

article.blog-post .blog-thumbnail:hover a:after {
    left: 50%;
    opacity: 1;
}

.blog-thumbnail img {
    max-height: 300px;
    object-fit: cover;
    height: 260px;
    width: 100%;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

article.blog-post .blog-thumbnail:hover img {
    transform: scale(1.2);
    opacity: .5;
}

article.blog-post .date {
    background: #3cbeee;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    color: #f6f8f8;
    text-align: center;
    padding: 10px 15px;
    line-height: 1;
    border-radius: 0 0 0 20px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

article.blog-post .blog-thumbnail:hover .date {
    opacity: 0;
}

.blog-post .date span.day,
.blog-post .date span.publish-month {
    font-family: 'Montserrat', sans-serif;
}

.blog-post .date span.day {
    display: block;
    font-size: 24px;
    font-weight: 700;
}

.blog-post .date span.publish-month {
    font-size: 14px;
    text-transform: uppercase;
}

.blog-post .blog-desc {
    padding: 0 0 0 50px;
    color: #999;
}

.blog-post .blog-desc h4 a {
    color: #323232;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    cursor: pointer;
}

.blog-post .blog-desc h4 a:hover {
    color: #3cbeee;
}

.post-detail {
    padding: 10px 0 30px 0;
    color: #999;
}

.post-detail span:after {
    content: '|';
    padding: 0 7px;
}

.post-detail span:last-child:after {
    display: none;
}

.post-detail span i {
    padding-right: 5px;
}

.blog-post .blog-desc a.btn {
    margin-top: 30px;
}

section#blog .text-center {
    margin: 0 0 90px 0;
}


/**************** 5.10 Latest Event Section ****************/

/* calendar */

.calendar-container {
    height: auto;
    width: 100%;
}

.calendar header {
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

.calendar .btn-prev,
.calendar .btn-next {
    top: 0;
    line-height: 28px;
    font-size: 24px;
    position: absolute;
    color: #323232;
    cursor: pointer;
}

.calendar .btn-prev:hover,
.calendar .btn-next:hover {
    color: #3cbeee;
}

.calendar .btn-prev {
    left: 2px;
}

.calendar .btn-next {
    right: 5px;
}

.calendar table {
    width: 100%;
    margin-top: 40px;
}

.calendar thead {
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

.calendar tbody {
    color: #999;
}

.calendar td {
    padding: 15px 5px;
    font-size: 18px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.calendar tbody td:hover {
    cursor: pointer;
    color: #3cbeee;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.calendar .current-day {
    color: #f6f8f8;
    position: relative;
}

.calendar .current-day:hover {
    color: #f6f8f8;
}

td.current-day:after {
    content: '';
    display: block;
    width: 32px !important;
    height: 32px !important;
    background: #3cbeee;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) !important;
    -moz-transform: translate(-50%, -50%) !important;
    -ms-transform: translate(-50%, -50%) !important;
    -o-transform: translate(-50%, -50%) !important;
    transform: translate(-50%, -50%) !important;
    border-radius: 50%;
    z-index: -1;
}

.calendar .event {
    cursor: pointer;
    position: relative;
}

td.event.active {
    color: #3cbeee;
}

.calendar .event:after {
    content: '';
    display: block;
    background: #3cbeee;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}


/* event */
section#events .list {
    background: #ededed;
    border-radius: 30px;
    box-shadow: 5.5px 9px 15px 0px rgba(0, 0, 0, 0.2);
    margin: 0 25px;
}

section#events .day-event {
    display: none;
}

section#events .day-event.active {
    display: block;
    opacity: 1;
}

section#events .event-img {
    width: 100%;
    height: 250px;
    overflow: hidden;
    border-radius: 30px 30px 0 0;
}

section#events .event-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

section#events .event-details {
    padding: 30px 30px 0 30px;
    text-align: center;
}

section#events .event-details h4 {
    text-transform: uppercase;
}

section#events .event-details .date {
    font-size: 18px;
}

section#events .event-details p.date {
    padding: 10px 0;
}

section#events .event-details .date,
section#events .event-details p {
    color: #999;
}

section#events .event-details .btn {
    margin: 30px 0;
}


/**************** 5.11 Partners Section ****************/

section#partners {
    background: #f6f8f8;
    margin-top: -40px;
}

#partners .owl-item {
    min-height: 30px;
}

#partners img {
    width: 130px;
    -webkit-transition: all .9s ease;
    -moz-transition: all .9s ease;
    -ms-transition: all .9s ease;
    -o-transition: all .9s ease;
    transition: all .9s ease;
    margin: 0 auto;
    display: block;
}

#partners img:hover {
    opacity: 0.5;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}


/* --------------------------------------
    6. FOOTER
-------------------------------------- */

footer#main-footer {
    background: url(../images/components/footer-bg.png) no-repeat #267d9d;
    background-position: bottom center;
    background-size: cover;
    color: #f6f8f8;
    position: relative;
    margin-top: 30px;
}

footer#main-footer:before {
    content: '';
    background: url(../images/components/wave-top-footer.svg) no-repeat;
    background-position: bottom;
    background-size: cover;
    display: block;
    position: absolute;
    left: 0;
    top: -47px;
    width: 100%;
    height: 50px;
}


/* footer top */

footer .footer-top {
    padding: 80px 0 50px 0;
}

footer .footer-top img {
    height: 26px;
    margin-bottom: 30px;
}

footer .footer-top ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer .footer-top ul li {
    padding-bottom: 10px;
}

footer .footer-top ul li:last-child {
    padding: 0;
}

footer .footer-top h4 {
    color: #f6f8f8;
    padding-bottom: 30px;
    text-transform: uppercase;
}

footer .footer-top p {
    color: #f6f8f8;
}

footer .footer-top .about p {
    padding-bottom: 30px;
    margin: 0;
}

footer .footer-top .about i {
    padding-right: 20px;
}

footer .footer-top .footer-links li a {
    text-transform: capitalize;
    color: #f6f8f8;
}

footer .footer-top .footer-links li a:hover {
    color: #3cbeee;
}

footer form .form-group {
    margin-top: 30px;
}

footer form .input-group {
    width: 100%;
}

footer form input.form-control {
    height: 40px;
    border: 0;
    border-radius: 20px;
    padding: 0 0 0 30px;
    width: 90% !important;
    opacity: .3;
    z-index: 0 !important;
}

footer .btn {
    position: absolute;
    right: 0;
    background: #f69504;
    border: 0;
    box-shadow: none;
}

footer .btn:hover {
    background: #3cbeee;
}


/* copyright */

footer .copyright {
    padding: 30px 0;
    border-top: 1px solid #669aaf;
}

footer .copyright p {
    margin: 0;
    color: #f6f8f8;
}


/* --------------------------------------
    7. Pages
-------------------------------------- */

#pages.main {
    z-index: 0;
}

#pages.main .page-title {
    height: 350px;
}

#pages.main .page-title h2 {
    color: #f6f8f8;
    z-index: 4;
    font-size: 50px;
    text-transform: uppercase;
    position: absolute;
    top: 60%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

/* MAIN TAB */
/* Style the tab */
.main-tab {
    overflow: hidden;
    text-align: center;
    padding: 5px 5px;
    width: 100%;
}

.tab-links {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 25px;
    margin: 3px;
    position: relative;
    border: 2px solid #3cbeee;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    border-radius: 25px;
    color: #999;
}

.tab-links.active {
    background: #3cbeee;
    color: #f6f8f8 !important;
}

.tab-links.active:hover {
    background: #3cbeee !important;
    color: #f6f8f8 !important;
}

.tab-links:hover {
    color: #3cbeee !important;
    -webkit-transition: 0.3s ease-in;
    -moz-transition: 0.3s ease-in;
    -ms-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
}

.tab-content {
    margin-top: 5px;
    display: none;
    border-top: none;
    bottom: 0;
}

.tab-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    display: flex;
    max-width: 300px;
    min-width: 300px;
    min-height: 250px;
    padding: 10px;
    border-radius: 20px;
    box-sizing: border-box;
    color: #FFF;
    margin:20px;
    box-shadow: 5.5px 9px 15px 0px rgba(0, 0, 0, 0.2);
}

.card_item_content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    margin-top: 2px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.85), transparent);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .25), 2px 2px 1px rgba(0, 0, 0, .25) !important;
 }

 .card-title{
     margin-top: 0;
     font-size: 16px;
     font-weight: 600;
     letter-spacing: 1.2px;
}
 .card-content{
     font-size: 14px;
     letter-spacing: 0.5px;
     line-height: 1.5;
}
 .card-btn{
     all: unset;
     display: block;
     margin-left: auto;
     border: 2px solid #FFF;
     padding: 10px 15px;
     border-radius: 25px;
     font-size: 10px;
     font-weight: 600;
     transition: all 0.5s;
     cursor: pointer;
     letter-spacing: 1.2px;
}
 .card-btn:hover{
    color:#02b875;
    background: #FFF;
}

/* --------------------------------------
    8. Blog
-------------------------------------- */


/**************** 8.1 Blog Listing ****************/

article.blog-listing {
    display: none;
}

a#loadMore:focus {
    color: #999;
}


/**************** 8.2 Blog Detail ****************/

section#blog-post .container {
    padding-left: 0;
    padding-right: 0;
}

section#blog-post .post-title {
    margin-bottom: 10px;
}

section#blog-post h2 {
    text-transform: uppercase;
}

section#blog-post h4 {
    text-transform: uppercase;
    padding-bottom: 20px;
}

section#blog-post p {
    font-size: 16px;
    line-height: 26px;
}

section#blog-post .post-img {
    padding: 0;
    border-radius: 30px;
    height: 300px;
    margin: 40px 0;
    box-shadow: 5.5px 9px 15px 0px rgba(0, 0, 0, 0.2);
}

section#blog-post .post-img img {
    border-radius: 30px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section#blog-post .post-quote {
    background: #3cbeee;
    color: #f6f8f8;
    border-radius: 30px;
    text-align: center;
    margin: 40px 0;
}

section#blog-post .post-quote blockquote {
    margin: 0;
    padding: 55px 0;
    font-style: italic;
    font-size: 24px;
    border: 0;
}

section#blog-post .post-quote blockquote:before {
    content: '\f10d';
    font-family: 'fontawesome';
    display: inline-block;
    float: left;
    color: #f6f8f8;
    font-size: 72px;
    position: absolute;
    left: 30px;
    top: 0;
    font-style: normal;
    opacity: .5;
}

section#blog-post .post-quote blockquote:after {
    content: '\f10e';
    font-family: 'fontawesome';
    display: inline-block;
    float: right;
    color: #f6f8f8;
    font-size: 72px;
    position: relative;
    right: 30px;
    top: 0;
    font-style: normal;
    opacity: .5;
}

section#blog-post ul.social {
    padding: 0;
    margin-top: 40px;
}

section#blog-post ul.social li {
    display: inline-block;
}

section#blog-post ul.social li .btn {
    width: 140px;
    height: 40px;
    font-size: 24px;
    padding: 0;
}

section#blog-post ul.social li #fb.btn {
    background: #2164b6;
}

section#blog-post ul.social li #twitter.btn {
    background: #43d0fe;
}

section#blog-post ul.social li #linkedin.btn {
    background: #2a8fdd;
}

section#blog-post ul.social li #google.btn {
    background: #dd4b39;
}

section#blog-post ul.social li #pinterest.btn {
    background: #df5643;
}




/* --------------------------------------
    x. Animations
-------------------------------------- */


/* Menu Animation */

@-webkit-keyframes mymenu-open {
    0% {
        transform: translateY(-30px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@-moz-keyframes mymenu-open {
    0% {
        transform: translateY(-30px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@-o-keyframes mymenu-open {
    0% {
        transform: translateY(-30px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes mymenu-open {
    0% {
        transform: translateY(-30px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
