/**********************

Responsive.css
=============

Author:  Gino Aliaj
Template: Swimmerland - Water Park HTML Template
Version: 1.0

Author URI: gnodesign.com
***************************/


/*------------------------------------------
  Responsive Grid Media Queries
--------------------------------------------*/
/* ---- Start of min-width 1800px CSS ---- */

@media (min-width: 1800px) {
    section#countup:before {
        height: 70px !important;
        top: -67px !important;
    }
    section#countup:after {
        height: 70px !important;
        bottom: -67px !important;
    }
    footer#main-footer:before {
        height: 70px !important;
        top: -67px !important;
    }
}


/* ---- End of min-width 1800px CSS ---- */

/* ---- Start of min-width 1450px CSS ---- */

@media (min-width: 1450px) {
    section#countup:before {
        height: 60px;
        top: -57px;
    }
    section#countup:after {
        height: 60px;
        bottom: -57px;
    }
    footer#main-footer:before {
        height: 60px;
        top: -57px;
    }
}


/* ---- End of min-width 1450px CSS ---- */


/* ---- Start of max-width 992px CSS ---- */

@media (max-width: 992px) {
    /**************** 
		deals Section
	****************/
    .deals-post .deals-desc {
        overflow: hidden;
        padding: 30px;
    }
    /**************** 
		Signup Section
	****************/
    section#signup h3 {
        text-align: center;
    }
    section#signup .section-title:after {
        margin: 0 auto;
    }
    /**************** 
		Footer
	****************/
    footer .footer-social {
        clear: both;
        margin-top: 50px;
    }
    footer .footer-newsletter {
        margin-top: 50px;
    }
    /**************** 
		Contact Pages
	****************/
    form#contact-form input {
        margin: 20px 0;
    }
    form#contact-form {
        margin: 30px 0 60px 0;
    }
    .gmaps #map {
        width: 100%;
        margin-bottom: 40px;
    }
}


/* ---- End of max-width 992px CSS ---- */


/* ---- Start of min-width 480px and max-width 768px CSS ---- */

@media all and (min-width: 480px) and (max-width: 768px) {
    /**************** 
		TOP HEADER
	****************/
}


/* ---- End of min-width 480px and max-width 768px CSS ---- */


/* ---- Start of max-width 769px CSS ---- */

@media all and (max-width: 769px) {
    /**************** 
		Signup Section
	****************/
    section#signup {
        background: #3cbeee;
    }
    /**************** 
		Latest Events Section
	****************/
    section#events table {
        border: none;
    }
    /**************** 
		About Page
	****************/
    section#about .about-vid .vid-container {
        width: 100%;
    }
    /**************** 
		deals Detail Page
	****************/
    section#deals-post ul.social li {
        margin-bottom: 20px;
    }
    section#deals-post .post-quote blockquote {
        padding: 90px 0;
    }
}


/* ---- End of max-width 769px CSS ---- */



/* ---- End of max-width 767px CSS ---- */


/* ---- Start of max-width 580px CSS ---- */

@media all and (max-width: 580px) {
    /**************** 
		Main Slider Section
	****************/
    .slider-content {
        top: 30%;
    }
    .slider-content h3 span {
        font-size: 52px;
    }
    .swiper-pagination {
        height: 0;
    }
    /**************** 
		Testimonial Section
	****************/
    #sync1 .item .testimonial {
        padding-left: 0;
        padding-top: 70px;
    }
    /**************** 
		Footer
	****************/
    footer .col-xs-6 {
        width: 100%;
        text-align: center;
        margin-bottom: 60px;
    }
    footer .footer-social {
        clear: both;
        margin-top: 0;
    }
    footer .footer-newsletter {
        margin-top: 0;
    }
}


/* ---- End of max-width 580px CSS ---- */


/* ---- Start of max-width 480px CSS ---- */

@media all and (max-width: 480px) {
    /**************** 
		Gallery Section
	****************/
    .gallery-items li.col-xs-6.shuffle-item {
        width: 100%;
    }
    /**************** 
		deals Section
	****************/
    article.deals-post {
        padding: 25px;
    }
}


/* ---- End of max-width 480px CSS ---- */


/* ---- Start of max-width 420px CSS ---- */

@media all and (max-width: 420px) {
    
    /**************** 
		Main Slider Section
	****************/
    .slider-content h3 span {
        font-size: 42px;
    }
    .swiper-pagination {
        display: none;
    }
    /**************** 
		deals Section
	****************/
    .deals-post .deals-desc {
        overflow: hidden;
        padding: 30px 0;
    }
}


/* ---- End of max-width 420px CSS ---- */


/* ---- Start of max-width 380px CSS ---- */

@media all and (max-width: 380px) {
    /**************** 
		Latest Events Section
	****************/
    section#events .col-md-6 {
        padding: 40px 0 0 0;
    }
    section#events table {
        margin-left: -15px;
    }
    .calendar td {
        font-size: 16px;
    }
}


/* ---- End of max-width 380px CSS ---- */


/* ---- Start of max-width 320px CSS ---- */

@media all and (max-width: 320px) {
    /**************** 
		Main Slider Section
	****************/
    .slider-content h3 span {
        font-size: 36px;
    }
    /**************** 
		404 Page
	****************/
    section#not-found .error-detail h2 {
        font-size: 140px;
    }
}


/* ---- End of max-width 320px CSS ---- */


/* ---- Start of max-height 420px CSS ---- */

@media screen and (max-height: 420px) {
    /**************** 
		Main Slider Section
	****************/
    .fullscreen {
        height: 550px;
    }
    nav.navbar {
        margin: 30px 0 0 0;
    }
    /**************** 
		404 Page
	****************/
    #not-found.main {
        height: 700px;
    }
}